.error{
	color:red;
}

.dropdown-menu{
	min-width: 0;
}

.key-table{
	 background-color:white;
	 color:#000000;
}

@media print{

	.navbar{
		display:none;
	}
	.fc-button{
		display:none;
	}
	.btn, .btn-primary{
		display:none;
	}
	.filter{
		display:none;
	}
}