.error{
	color:red;
}

.dropdown-menu{
	min-width: 0;
}

.key-table{
	 background-color:white;
	 color:#000000;
}

table.key-table td{
	padding:10px;
}

.filter{
	display: inline;
	margin-top: -10px;
	margin-bottom: 20px;
}

@media print{
	body, #content, .container {
	width: 100%;
	margin: 0;
	zoom:80%;
	}

	.navbar, .fc-button, .btn, .filter, .no-print{
		display:none;
	}
}